* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f4f7f9;
}

/* HEADER */

.header {
    background-color: #1693A5;
    padding: 15px 30px;
    color: white;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-logout {
    background-color: #d9534f;
    border: none;
    padding: 8px 20px;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

    .btn-logout:hover {
        background-color: #c9302c;
    }

/* LAYOUT */

.layout {
    display: flex;
    min-height: calc(100vh - 70px);
}

/* SIDEBAR */

.sidebar {
    width: 250px;
    background-color: #127a8a;
    padding: 30px 15px;
}

.menu {
    list-style: none;
}

    .menu li {
        margin-bottom: 15px;
    }

    .menu a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        display: block;
        padding: 10px;
        border-radius: 6px;
        transition: 0.3s;
    }

        .menu a:hover {
            background-color: rgba(255,255,255,0.2);
        }

/* CONTENT */

.content {
    flex: 1;
    padding: 40px;
}

.dashboard-title {
    font-size: 2rem;
    margin-bottom: 30px;
}

/* CARDS */

.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.card {
    background: white;
    border-left: 6px solid #1693A5;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

    .card h2 {
        font-size: 1.2rem;
        margin-bottom: 15px;
    }

.card-number {
    font-size: 2rem;
    font-weight: bold;
    color: #1693A5;
}

/* RESPONSIVE */

@media (max-width: 900px) {
    .layout {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
    }
}
