
/* Botones de estado usuario */

.btn-activar {
    background-color: #2e8b57;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 15px;
    cursor: pointer;
}

.btn-desactivar {
    background-color: #cd5c5c;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 15px;
    cursor: pointer;
}

/* BOTONES DE ACCION DEL GRID */



.estado-label {
    padding: 6px 12px;
    border-radius: 20px;
    font-weight: bold;
    color: white;
}

.estado-activo {
    color: #2e7d32;
    font-weight: bold;
}

.estado-inactivo {
    color: #c62828;
    font-weight: bold;
}

.btn-action {
    color: #1693A5;
    font-size: 18px;
    margin-right: 10px;
    cursor: pointer;
}

    .btn-action:hover {
        color: #127a8a;
    }

.btn-danger {
    color: #d9534f;
}

    .btn-danger:hover {
        color: #b52b27;
    }

/* resalta el boton cuando pasa el mouse */
.tabla tr:hover {
    background-color: #eef7f9;
    cursor: pointer;
}
/* muestra la tabla */
.tabla {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

    .tabla th {
        background-color: #1693A5;
        color: white;
        padding: 12px;
        text-align: left;
    }

    .tabla td {
        padding: 12px;
        border-bottom: 1px solid #ddd;
    }

    .tabla tr:hover {
        background-color: #f5f5f5;
    }

    .search-box {
        margin-bottom: 20px;
        max-width: 300px;
    }
