ALTER PROCEDURE [dbo].[sp_EliminarProducto]
(
    @producto_id INT,
    @modificado_por VARCHAR(50)
)
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Productos WHERE producto_id = @producto_id)
    BEGIN
        SELECT 0 AS resultado, 'El producto no existe.' AS mensaje;
        RETURN;
    END

    BEGIN TRAN;

    -- 1️⃣ Inactivar producto
    UPDATE Productos
    SET estado = 'Inactivo',
        fecha_modificacion = GETDATE(),
        modificado_por = @modificado_por
    WHERE producto_id = @producto_id;

    -- 2️⃣ Inactivar todas las tasas del producto
    UPDATE Tasas
    SET estado = 'Inactivo',
        fecha_modificacion = GETDATE(),
        modificado_por = @modificado_por
    WHERE producto_id = @producto_id;

    COMMIT TRAN;

    SELECT 1 AS resultado, 'Producto y sus tasas fueron desactivados correctamente.' AS mensaje;
END