USE [master]
GO
/****** Object:  Database [Apf_cotizaciones]    Script Date: 09/02/2026 18:03:28 ******/
CREATE DATABASE [Apf_cotizaciones]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Apf_cotizaciones', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.UNIVERSIDAD\MSSQL\DATA\Apf_cotizaciones.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Apf_cotizaciones_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.UNIVERSIDAD\MSSQL\DATA\Apf_cotizaciones_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Apf_cotizaciones].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Apf_cotizaciones]
GO
/****** Object:  Table [dbo].[Cotizaciones]    Script Date: 09/02/2026 18:03:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cotizaciones](
	[cotizacion_id] [int] IDENTITY(1,1) NOT NULL,
	[numero_cotizacion] [varchar](20) NOT NULL,
	[usuario_id] [int] NOT NULL,
	[producto_id] [int] NOT NULL,
	[plazo_id] [int] NOT NULL,
	[monto] [decimal](18, 2) NOT NULL,
	[tasa_anual] [decimal](6, 4) NOT NULL,
	[impuesto] [decimal](5, 2) NOT NULL,
	[total_interes_bruto] [decimal](18, 2) NULL,
	[total_impuesto] [decimal](18, 2) NULL,
	[total_interes_neto] [decimal](18, 2) NULL,
	[estado] [varchar](20) NOT NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[creado_por] [varchar](50) NOT NULL,
	[fecha_modificacion] [datetime] NULL,
	[modificado_por] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[cotizacion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[numero_cotizacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cotizaciones_detalle]    Script Date: 09/02/2026 18:03:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cotizaciones_detalle](
	[detalle_id] [int] IDENTITY(1,1) NOT NULL,
	[cotizacion_id] [int] NOT NULL,
	[mes] [int] NOT NULL,
	[interes_bruto] [decimal](18, 2) NOT NULL,
	[impuesto] [decimal](18, 2) NOT NULL,
	[interes_neto] [decimal](18, 2) NOT NULL,
	[estado] [varchar](20) NOT NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[creado_por] [varchar](50) NOT NULL,
	[fecha_modificacion] [datetime] NULL,
	[modificado_por] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[detalle_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mascaras_identificacion]    Script Date: 09/02/2026 18:03:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mascaras_identificacion](
	[mascara_id] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [varchar](20) NOT NULL,
	[descripcion] [varchar](100) NOT NULL,
	[ejemplo] [varchar](50) NOT NULL,
	[longitud_min] [int] NOT NULL,
	[longitud_max] [int] NOT NULL,
	[estado] [varchar](20) NOT NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[creado_por] [varchar](50) NOT NULL,
	[fecha_modificacion] [datetime] NULL,
	[modificado_por] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[mascara_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Plazos]    Script Date: 09/02/2026 18:03:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plazos](
	[plazo_id] [int] IDENTITY(1,1) NOT NULL,
	[meses] [int] NOT NULL,
	[dias] [int] NOT NULL,
	[estado] [varchar](20) NOT NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[creado_por] [varchar](50) NOT NULL,
	[fecha_modificacion] [datetime] NULL,
	[modificado_por] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[plazo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 09/02/2026 18:03:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[producto_id] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [varchar](10) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[moneda] [char](1) NOT NULL,
	[estado] [varchar](20) NOT NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[creado_por] [varchar](50) NOT NULL,
	[fecha_modificacion] [datetime] NULL,
	[modificado_por] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[producto_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tasas]    Script Date: 09/02/2026 18:03:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasas](
	[tasa_id] [int] IDENTITY(1,1) NOT NULL,
	[producto_id] [int] NOT NULL,
	[plazo_id] [int] NOT NULL,
	[tasa_anual] [decimal](6, 4) NOT NULL,
	[estado] [varchar](20) NOT NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[creado_por] [varchar](50) NOT NULL,
	[fecha_modificacion] [datetime] NULL,
	[modificado_por] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[tasa_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TASAS] UNIQUE NONCLUSTERED 
(
	[producto_id] ASC,
	[plazo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 09/02/2026 18:03:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[usuario_id] [int] IDENTITY(1,1) NOT NULL,
	[mascara_id] [int] NOT NULL,
	[identificacion] [varchar](30) NOT NULL,
	[nombre_completo] [varchar](150) NOT NULL,
	[telefono] [varchar](20) NULL,
	[correo] [varchar](100) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[rol] [varchar](10) NOT NULL,
	[estado] [varchar](20) NOT NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[creado_por] [varchar](50) NOT NULL,
	[fecha_modificacion] [datetime] NULL,
	[modificado_por] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[usuario_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cotizaciones] ADD  DEFAULT ((13)) FOR [impuesto]
GO
ALTER TABLE [dbo].[Cotizaciones] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Cotizaciones_detalle] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Mascaras_identificacion] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Plazos] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Tasas] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Cotizaciones]  WITH CHECK ADD  CONSTRAINT [FK_COTIZACIONES_PLAZOS] FOREIGN KEY([plazo_id])
REFERENCES [dbo].[Plazos] ([plazo_id])
GO
ALTER TABLE [dbo].[Cotizaciones] CHECK CONSTRAINT [FK_COTIZACIONES_PLAZOS]
GO
ALTER TABLE [dbo].[Cotizaciones]  WITH CHECK ADD  CONSTRAINT [FK_COTIZACIONES_PRODUCTOS] FOREIGN KEY([producto_id])
REFERENCES [dbo].[Productos] ([producto_id])
GO
ALTER TABLE [dbo].[Cotizaciones] CHECK CONSTRAINT [FK_COTIZACIONES_PRODUCTOS]
GO
ALTER TABLE [dbo].[Cotizaciones]  WITH CHECK ADD  CONSTRAINT [FK_COTIZACIONES_USUARIOS] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[Usuarios] ([usuario_id])
GO
ALTER TABLE [dbo].[Cotizaciones] CHECK CONSTRAINT [FK_COTIZACIONES_USUARIOS]
GO
ALTER TABLE [dbo].[Cotizaciones_detalle]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_COTIZACIONES] FOREIGN KEY([cotizacion_id])
REFERENCES [dbo].[Cotizaciones] ([cotizacion_id])
GO
ALTER TABLE [dbo].[Cotizaciones_detalle] CHECK CONSTRAINT [FK_DETALLE_COTIZACIONES]
GO
ALTER TABLE [dbo].[Tasas]  WITH CHECK ADD  CONSTRAINT [FK_TASAS_PLAZOS] FOREIGN KEY([plazo_id])
REFERENCES [dbo].[Plazos] ([plazo_id])
GO
ALTER TABLE [dbo].[Tasas] CHECK CONSTRAINT [FK_TASAS_PLAZOS]
GO
ALTER TABLE [dbo].[Tasas]  WITH CHECK ADD  CONSTRAINT [FK_TASAS_PRODUCTOS] FOREIGN KEY([producto_id])
REFERENCES [dbo].[Productos] ([producto_id])
GO
ALTER TABLE [dbo].[Tasas] CHECK CONSTRAINT [FK_TASAS_PRODUCTOS]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_USUARIOS_MASCARAS] FOREIGN KEY([mascara_id])
REFERENCES [dbo].[Mascaras_identificacion] ([mascara_id])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_USUARIOS_MASCARAS]
GO
ALTER TABLE [dbo].[Cotizaciones]  WITH CHECK ADD  CONSTRAINT [CK_COTIZACIONES_ESTADO] CHECK  (([estado]='ELIMINADO' OR [estado]='FINALIZADO' OR [estado]='ACTIVO'))
GO
ALTER TABLE [dbo].[Cotizaciones] CHECK CONSTRAINT [CK_COTIZACIONES_ESTADO]
GO
ALTER TABLE [dbo].[Cotizaciones_detalle]  WITH CHECK ADD  CONSTRAINT [CK_DETALLE_ESTADO] CHECK  (([estado]='ELIMINADO' OR [estado]='ACTIVO'))
GO
ALTER TABLE [dbo].[Cotizaciones_detalle] CHECK CONSTRAINT [CK_DETALLE_ESTADO]
GO
ALTER TABLE [dbo].[Mascaras_identificacion]  WITH CHECK ADD  CONSTRAINT [CK_MASCARAS_ESTADO] CHECK  (([estado]='INACTIVO' OR [estado]='ACTIVO'))
GO
ALTER TABLE [dbo].[Mascaras_identificacion] CHECK CONSTRAINT [CK_MASCARAS_ESTADO]
GO
ALTER TABLE [dbo].[Plazos]  WITH CHECK ADD  CONSTRAINT [CK_PLAZOS_ESTADO] CHECK  (([estado]='INACTIVO' OR [estado]='ACTIVO'))
GO
ALTER TABLE [dbo].[Plazos] CHECK CONSTRAINT [CK_PLAZOS_ESTADO]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [CK_PRODUCTOS_ESTADO] CHECK  (([estado]='ELIMINADO' OR [estado]='INACTIVO' OR [estado]='ACTIVO'))
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [CK_PRODUCTOS_ESTADO]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [CK_PRODUCTOS_MONEDA] CHECK  (([moneda]='D' OR [moneda]='C'))
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [CK_PRODUCTOS_MONEDA]
GO
ALTER TABLE [dbo].[Tasas]  WITH CHECK ADD  CONSTRAINT [CK_TASAS_ESTADO] CHECK  (([estado]='INACTIVO' OR [estado]='ACTIVO'))
GO
ALTER TABLE [dbo].[Tasas] CHECK CONSTRAINT [CK_TASAS_ESTADO]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [CK_IDENTIFICACION_LONGITUD] CHECK  ((len([identificacion])>=(6) AND len([identificacion])<=(30)))
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [CK_IDENTIFICACION_LONGITUD]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [CK_USUARIOS_ESTADO] CHECK  (([estado]='BLOQUEADO' OR [estado]='ELIMINADO' OR [estado]='INACTIVO' OR [estado]='ACTIVO'))
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [CK_USUARIOS_ESTADO]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [CK_USUARIOS_ROL] CHECK  (([rol]='NORMAL' OR [rol]='ADMIN'))
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [CK_USUARIOS_ROL]
GO
USE [master]
GO
